<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listes d'etudiant</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<span th:replace="~{home :: navbar}"></span>
<main class="container">
    <h1>Detail</h1>
    <hr>
    <div class="col d-flex justify-content-center">
        <div th:object="${student}">
            <p>Nom : <span th:text="*{firstName}"></span></p>
            <p>Prénom : <span th:text="*{lastName}"></span></p>
            <p>Age : <span th:text="*{age}"></span></p>
        </div>
    </div>

    <a th:href="@{/delete(studentId=${student.id})}" class="btn btn-danger btn-sm">Supprimer</a>
    <a th:href="@{/update(studentId=${student.id})}" class="btn btn-info btn-sm">Modifier</a>

</main>

<span th:replace="~{home :: footer}"></span>
</body>
</html>