<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<span th:replace="~{home :: navbar}"></span>
<main class="container">
    <h1>Formulaire d'ajout d'étudiant</h1>
    <hr>
    <form th:action="@{/submitForm}" th:object="${studentSubmit}" method="post">
        <div class="mb-3">
            <label for="nameStudent" class="form-label">Nom : </label>
            <input th:field="*{firstName}" type="text" class="form-control" id="nameStudent" aria-describedby="etudiantHelp">
            <div id="etudiantHelp" class="form-text">Nom de l'étudiant.</div>
        </div>
        <div class="mb-3">
            <label for="lastnameStudent" class="form-label">Prenom : </label>
            <input th:field="*{lastName}" type="text" class="form-control" id="lastnameStudent" aria-describedby="etudiantfistnameHelp">
            <div id="etudiantfistnameHelp" class="form-text">Prenom de l'étudiant.</div>
        </div>
        <div class="mb-3">
            <label for="ageStudent" class="form-label">Age de l'étudiant</label>
            <input th:field="*{age}"  type="number" class="form-control" id="ageStudent">
        </div>
        <input th:field="*{id}" type="hidden">
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>

</main>

<span th:replace="~{home :: footer}"></span>
</body>
</html>